=============================================================================
# essencial   ===============================================================
#============================================================================
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=angra;Allow User Variables=true"


#============================================================================
# Start inicial(nÃ£o alterar)   ==============================================
#============================================================================

stop monitor
stop webadmin
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure GHMattiMySQL
ensure vrp
ensure vrp_ghmattimysql
ensure vehcontrol
ensure logsystem
ensure angra-character
ensure ELS-FiveM
ensure tokovoip_script
ensure vrp_copy



#============================================================================
# ===========   OrganizaÃ§Ã£o de pastas e subpastas do servidor    ============
#============================================================================

#============================================================================
# RESOURCE  =================================================================
#============================================================================

#ensure logsystem
#ensure GHMattiMySQL

#============================================================================
# [vrp]       =================================================================
#============================================================================

#ensure vrp (start script inial)
ensure vrp_admin
ensure vrp_animacoes
ensure vrp_atm
ensure vrp_bank
emsure vrp_barbershop
ensure vrp_bdonate
ensure vrp_benefactor
ensure vrp_blipsystem
ensure vrp_checkin
ensure vrp_chest
ensure vrp_codes
#ensure vrp_copy (start script inial)
ensure vrp_crafting
ensure vrp_dna
ensure vrp_doors
ensure vrp_engine
ensure vrp_garages
#ensure vrp_ghmattimysql (start script inial)
ensure vrp_helicam
ensure vrp_homes
ensure vrp_hospital
ensure vrp_hud
ensure vrp_inspect
ensure vrp_inventory
ensure vrp_login
ensure vrp_lscustoms
ensure vrp_notepad
ensure vrp_notify
ensure vrp_notifycall
ensure vrp_notifyitens
ensure vrp_player
ensure vrp_prison
ensure vrp_races
ensure vrp_radio
ensure vrp_rope
ensure vrp_safelocker
ensure vrp_shops
ensure vrp_skinshop
ensure vrp_sounds
ensure vrp_spawn
ensure vrp_survival
ensure vrp_tablet
ensure vrp_tackle
ensure vrp_taskbar
ensure vrp_tattoos
ensure vrp_tencode
ensure vrp_trucker
ensure vrp_trunkchest
ensure vrp_weapons

#============================================================================
# [som]     =================================================================
#============================================================================

ensure MusicEverywhere
ensure xsound

#============================================================================
# [sistema] =================================================================
#============================================================================

#ensure angra-character (start script inial)
#ensure chat (start script inial)
#ensure ELS-FiveM (start script inial)
ensure fivem
#ensure fivem-map-hipster (start script inial)
#ensure mapmanager (start script inial)
#ensure sessionmanager (start script inial)
#ensure spawnmanager (start script inial)
#ensure tokovoip_script (start script inial)
#ensure vehcontrol (start script inial)

#============================================================================
# [scripts] =================================================================
#============================================================================

ensure ca_wall
ensure dpclothing
ensure nav_elev-delegacia-one
ensure ns_blitz
#ensure tota_core
#ensure tota_stereo
ensure vehmenu
ensure vrp_discord

#============================================================================
# [maps]    =================================================================
#============================================================================

ensure nopixelvegetacao

#============================================================================
# [gcphone] =================================================================
#============================================================================

ensure gcphone
ensure mysql-async

#============================================================================
# [empregos]=================================================================
#============================================================================

ensure vrp_cashmachine
ensure vrp_colheita
ensure vrp_delivery
ensure vrp_dismantle
ensure vrp_driver
ensure vrp_farm
ensure vrp_gangs
ensure vrp_garbageman
ensure vrp_hunting
ensure vrp_impound
ensure vrp_lumberman
ensure vrp_methlabs
ensure vrp_postop
ensure vrp_products
ensure vrp_robberys
ensure vrp_stockade
ensure vrp_towdriver
ensure vrp_weplant

#============================================================================
# [addons]  =================================================================
#============================================================================

ensure jacareHouses
ensure jacareMaps
ensure jacareRoupas
ensure jacareTattos
ensure jacareVehs
ensure jacareVtrs

#============================================================================
# [Testes]  (colocar scripts teste)  ========================================
#============================================================================


#============================================================================
# config adicionais servidor  ===============================================
#============================================================================

sv_scriptHookAllowed 0

#rcon_password

sets Tags "default"
sets Base "Jacaré 🐊"
sets Discord "discord.gg/jacare"
sets Locale "pt-BR"

sv_hostname "Jacaré City 🐊"

load_server_icon logo.png

sets banner_detail "https://i.imgur.com/02NQzZT.png"
sets banner_connecting "https://i.imgur.com/4720QSf.png"

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010781559b group.admin
add_principal identifier.steam:11000010781559b group.sync
add_principal identifier.steam:1100001155a42e4 group.admin #Brito

sv_endpointprivacy true
onesync_forceMigration true
onesync_distanceCullVehicles true

sv_maxclients 10
set sv_enforceGameBuild 2189

set steam_webApiKey "BE42309122F0CA4F15718338E45A29EE"
sv_licenseKey cfxk_orHTsyl9peceAJgJ1SCC_40AA4W